<%= form_for @exersize, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :exercise_performed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :exercise_performed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :load_perscribed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :load_perscribed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reps_perscribed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :reps_perscribed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sets_perscribed, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :sets_perscribed, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actual_weight_lifted_1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :actual_weight_lifted_1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actual_weight_lifted_2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :actual_weight_lifted_2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actual_weight_lifted_3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :actual_weight_lifted_3, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  exersizes_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
